
.timer {
    border: 2px solid black;
    border-radius: 7px;
    width:12em;
    text-align: center;
    margin:auto;
    
}

.timerButton {
    display: inline-block;
    background: rgb(88, 34, 34);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }

  .timerButton2 {
    display: inline-block;
    background: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }