.timer {
    border: 2px solid #984d44;
    border-radius: 7px;
    width:12em;
    text-align: center;
    align-self: center;
}

h1 {
    color: rgb(255, 255, 255);
}

.timerButton {
    display: inline-block;
    background: #984d44;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }

  .timerButton2 {
    display: inline-block;
    background: #984d44;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }